

body {
  font-family: 'Seoge UI', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.request {
  display: flex;
}

.request>.method {
  margin-right: 10px;
  width: min-content;
  border-radius: 16px;
  padding: 5px 10px;
}

