:root {
  --get-colour: #67ff8d;
  --post-colour: #d28eff;
  --delete-colour: #ff8e8e;
  --put-colour: #fffd8e;
  --patch-colour: #8eb6ff;
}

[data-method="GET"] {
  background: var(--get-colour);
}

[data-method="POST"] {
  background: var(--post-colour);
}

[data-method="DELETE"] {
  background: var(--delete-colour);
}

[data-method="PUT"] {
  background: var(--put-colour);
}

[data-method="PATCH"] {
  background: var(--patch-colour);
}